body {
  background: #f7e8e826;
}
h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 50px;
  text-align: center;
}
p {
  font-family: 'Arial', sans-serif;
}
#games {
  width: 80%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  margin:auto;
}
#game-mode-selector {
  text-align: center;
  padding: 5px;
  border-style: solid;
  margin-left: 200px;
  margin-right: 200px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
